<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>PetApp</title>
  </head>
  <body>
    <header>
      <nav class="nav-links">
        <ul>
          <li><a href="./index.html">PetCare</a></li>
          <li><a href="./about.html">About Us</a></li>
          <li><a href="./login.html">Login</a></li>
          <li><a href="./register.html">Register</a></li>
          <li><a href="./doctor.html">Doctor</a></li>
          <li><a href="./owner.html">Owner</a></li>
        </ul>
      </nav>
    </header>
    <div class="form-Register">
      <div class="form-input">
        <h1>Register</h1>
        <p>Please Create an account</p>
        <form action="#">
          <div class="class-field">
            <label for="username">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Enter your Username"
              required
            />
          </div>
          <div class="class-field">
            <label for="firstname">First Name</label>
            <input
              type="text"
              name="firstname"
              id="firstname"
              placeholder="Enter your First Name"
              required
            />
          </div>
          <div class="class-field">
            <label for="lastname">Last Name</label>
            <input
              type="text"
              name="lastname"
              id="lastname"
              placeholder="Enter your Last Name"
              required
            />
          </div>
          <div class="class-field">
            <label for="password">Password</label>
            <input
              type="text"
              name="password"
              id="password"
              placeholder="Enter your Password"
              required
            />
          </div>
          <div class="class-field">
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Enter your Email"
              required
            />
          </div>
          <div class="field-btn">
            <input type="submit" value="Register" />
          </div>
        </form>
        <div class="login-register">
          <span>
            Already Have an Account? <a href="./login.html">Log In</a></span
          >
        </div>
      </div>
    </div>
  </body>
</html>
