* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: #c48b52;
}
body {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0.5) 60%
    ),
    url(img/dog.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  top: 0;
  left: 0;
  background: rgba(79, 105, 102, 0.2);
}
h1 {
  margin: 10px;
}
h2 {
  font-size: 36px;
  margin: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  border-radius: 5px;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  border-radius: 5px;
}

.nav-links {
  font-size: 70px;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  cursor: pointer;
  display: flex;
  list-style: none;
  padding: 0px 20px;
}
.nav-links li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}
.nav-links li a {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.nav-links li a:hover {
  color: orange;
  transition: 0.2s;
  cursor: pointer;
}
#map {
  height: 50%;
  width: 50%;
  border-radius: 10px;
}
.form-input {
  background-color: rgba(0, 0, 0, 0.5);
}
