<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>PetApp</title>
  </head>
  <body>
    <header>
        <nav class="nav-links">
            <ul>
                <li> <a href="/template/index.html">PetCare</a></li>
                <li> <a href="/template/about.html">About Us</a></li>
                <li> <a href="/template/register.html">Register</a></li>
                <li> <a href="/template/doctor.html">Doctor</a></li>
                <li> <a href="/template/owner.html">Owner</a></li>
            </ul>
            </nav>
    </header>
  </body>
</html>
