<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>PetApp</title>
</head>
<body>
    <header>
        <nav class="nav-links">
            <ul>
                <li> <a href="./index.html">PetCare</a></li>
                <li> <a href="./about.html">About Us</a></li>
                <li> <a href="./register.html">Register</a></li>
                <li> <a href="./doctor.html">Doctor</a></li>
                <li> <a href="./owner.html">Owner</a></li>
                <button id="logout-btn">Logout</button>
            </ul>
            </nav>
    </header>
    
    <div id="addPet">
        <div class="form-input">
            <h1>Add a Pet</h1>
            <form action="#" id="addPetForm">
              <div class="class-field">
                <label for="petname">Name</label>
                <input
                  id="petname"
                  type="text"
                  placeholder="Enter pet name"
                  required
                />
              </div>
              <div class="class-field">
                <label for="age">Age</label>
                <input
                  id="age"
                  type="text"
                  placeholder="Enter pet age"
                  required
                />
              </div>
              <div class="class-field">
                <label for="sex">Sex</label>
                <select
                  id="sex"
                  required
                >
                  <option value="MALE">Male</option>
                  <option value="FEMALE">Female</option>
                </select>
              </div>
              <div class="class-field">
                <label for="insurance">Insurance</label>
                <input
                  id="insurance"
                  type="text"
                  placeholder="Enter pet insurance"
                  required
                />
              </div>
              <div class="class-field">
                <label for="breed">Breed</label>
                <select
                  id="breed"
                  required
                >
                </select>
              </div>
              <div class="field-btn">
                <input type="submit" id="addPet-btn" value="add" />
              </div>
            </form>
          </div>
    </div>
</body>
    <script src="./Logout.js"></script>
    <script src="./addpet.js"></script>
</html>