<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>PetApp</title>
  </head>
  <body>
    <header>
      <nav class="nav-links">
        <ul>
          <li><a href="./index.html">PetCare</a></li>
          <li><a href="./about.html">About Us</a></li>
          <li><a href="./doctor.html">Doctor</a></li>
          <li><a href="./owner.html">Pet Owner</a></li>
          <li><button id="logout-btn">Logout</button></li>
        </ul>
      </nav>
    </header>
    <h6 id="errorMsg"></h6>

    <h1>
      Create an Account today & Search for daily Products that will help your
      Pets!
    </h1>
    <section class="products-input">
      <p>Search for Products before you make Your commute!</p>
      <select name="productsList" id="productsList"></select>
      <button id="findProductBtn">Find This Product</button>
      <h2 id="mapTitle">Showing all locations</h2>
    </section>
    <div id="map"></div>

    <script src="../index.js"></script>
    <script src="../mapEmbed.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=APIKEY&callback=initMap"
    ></script>
  </body>
  <script src="./Logout.js"></script>
</html>
