<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>PetApp</title>
  </head>
  <body>
    <header>
      <nav class="nav-links">
        <ul>
          <li><a href="./index.html">PetCare</a></li>
          <li><a href="./about.html">About Us</a></li>
          <li><a href="./login.html">Login</a></li>
          <li><a href="./register.html">Register</a></li>
          <li><a href="./doctor.html">Doctor</a></li>
          <li><a href="./owner.html">Owner</a></li>
          <button id="logout-btn">Logout</button>
        </ul>
      </nav>
    </header>
    <h1>
      Find a list of likely conditions given a pet's symptoms
    </h1>
    <section class="form-input">
      <p>Select up to four symptoms and see conditions they may match!</p>
        <form id="symptoms" action="#">
            <select name="symptom1" id="symptom1"></select>
            <select name="symptom2" id="symptom2"></select>
            <select name="symptom3" id="symptom3"></select>
            <select name="symptom4" id="symptom4"></select>
            <input type="submit" value="Find Likely Conditions">
        </form>
    </section>
    <h1>
        Likely Conditions
    </h1>
    <section id="likelyConditions"></section>
  </body>
  <script src="./mostLikelyCondition.js"></script>
</html>
